<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Literature DB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="openWebpage('https://cdsweb.cern.ch/')">
  <img src="https://cds.cern.ch/record/2034252/files/NewGreyBook_image.png?subformat=icon" />
  <ion-card-header>
    <ion-card-subtitle>Document Server</ion-card-subtitle>
    <ion-card-title>Plusultra pharma Literature Database</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Welcome to Search Central of the Plusultra pharma Literature Database. <br>
    Access articles, reports and multimedia contents in a pharmaceutical company.
  </ion-card-content>
  </ion-card>

</ion-content>
