<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nobelpharma
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Company</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2>Welcome to Nobelpharma!</h2>
  <p>
    This project fetches information from up-to-date information through
    https://www.nobelpharma-us.com/
    
    <button ion-button (click)="openWebpage('https://www.nobelpharma-us.com')"> Open</button>
  </p>

</ion-content>
