<ion-header>
    <ion-toolbar>
        <ion-title>Impressum</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- https://www.youtube.com/watch?v=8Sv2Nubc5MQ -->
<ion-content class="ios7-grey-bg" padding="10px">
    <div class="logos">
        <span class="uni-logo"> <img height="100px" src="assets/logo.png"/> </span>
    </div>

    <br>
    <div class="settings-explanation credits">
    <div class="settings-explanation">
      <b>Plusultra pharma GmbH</b><br>
      <br>
        Fritz-Vomfelde-Str. 36<br>
        40547 Düsseldorf<br>
        Germany<br>
	<br>
	Phone: +49 (0)211 900 667 99  <br>
	Fax: +49 (0)211 900 667 10 <br>
	E-Mail: pup-info[at]plusultra-pharma.de
    </div>
    <br>

        <div class="row" style="text-align: left;">
            <div class="col col-top">Managing Director: Takahiro Yamasaki</div>
        </div>
	<br>	
	<br>
	Commercial Register: Registration Court Duesseldorf<br>

	Register Number: HRB 89735<br>

	VAT Identification Number: DE 330630562<br>

	Competent Supervisory Authority: District Government Duesseldorf<br>
    </div>

    <br>
    <div class="padding-top padding-bottom settings-explanation">
        <b>Marketing Mobile Application, version 0.1</b>	
        <div class="row" style="text-align: left;">
            <div class="col col-top">Developed by Dr. Gen Kawamura<br>
            </div>
        </div>
        License: Apache 2.0
        <br>

    </div>
</ion-content>
