<ion-header>
    <ion-toolbar>
        <ion-title>Impressum</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- https://www.youtube.com/watch?v=8Sv2Nubc5MQ -->
<ion-content class="ios7-grey-bg" padding="10px">
    <div class="logos">
        <span class="uni-logo"> <img height="100px" src="assets/logo.png"/> </span>
    </div>

    <br>
    <div class="settings-explanation credits">
        <div>
          <b>Marketing Tool for Plusultra Pharma GmbH / Plusultra Pharma UK Limited</b><br>
            <b>Mobile Application</b>, version 0.1
        </div>

        <br>
        <div class="row" style="text-align: left;">
            <div class="col col-top">Developed by</div>
            <div class="col col-67">
                Dr. Gen Kawamura<br>
            </div>
        </div>
    </div>

    <br>
    <div class="settings-explanation">
        <b>Plusultra Pharma GmbH</b><br>
        Fritz-Vomfelde-Str. 36<br>
        40547 Düsseldorf<br>
        Germany<br>
        Tel. +49 ************* <br>
        gen.kawamura@plusultra-pharma.de<br>
        <a href="https://www.google.com">Datenschutzerklärung (Deutsch)</a><br>
        <a href="https://www.google.com">Privacy statement (english)</a>
    </div>
    <br>
    <div class="settings-explanation padding-top">
        <b>Responsible for content:</b><br>
        Dr. Gen Kawamura<br>
        Fritz-Vomfelde-Str. 36<br>
        40547 Düsseldorf<br>
        Germany<br>
	
    </div>
    <br>
    <div class="padding-top padding-bottom settings-explanation">
        License: Apache 2.0
        <br>

    </div>
</ion-content>
